<div class="container">

  <div class="row">

    <div class="col-9 mt-5 d-flex align-content-start flex-wrap">
      <div class="mb-3 mr-3">
        <%= link_to posts_path(prefecture_id: 46) do %>
          <%= image_tag 'okinawa/okinawa.jpg', size: "240x190" %>
          <p class="text-center">沖縄県(<%= Prefecture.find(46).posts.count %>件の投稿）</p>
        <% end %>
      </div>
    </div>

    <div class="col-3 mt-5">
      <%= render "users/sidebar", user:current_user %>
      </div>

  </div>

</div>