<div class="container-fluid">

  <div class="row">

      <div class="about-visual">
        <div class="about-visual-content text-center d-flex align-items-center px-5">
          <h4>
            <p>就職を機に長野県の伊那に移住したのが5年ほど前</p>
            <p>川﨑から出たことがなかった私はすごくワクワクしていたのを覚えています</p>
            <p>それから４年ほど経ち、たった４年ですが地方特有の様々な経験をしました</p>
            <p>地方に住んだ経験が誰かの役に立てば、と思いこのアプリを作成しました</p>
            <p>お問い合わせはこちらまで <a>twaqkvux.2019@gmail.com</a> </p>
          </h4>
        </div>
      </div>

    </div>
  </div>

</div>