<div class="container">

  <div class="row">

    <div class="col-9 mt-5">

      <h1><%= @prefecture.name%></h1>



      <% if @posts.exists? %>
        <%= @posts.count %>件の投稿
        <% @posts.each do |post| %>
          <%= post.title %>
          <%= post.body %>
        <% end %>
      <% else %>
        <p>まだ投稿はありません</p>
      <% end %>
    </div>

    <div class="col-3 mt-5"><p>side</p></div>

  </div>

</div>