<div class="container">
  <div class="row">
    <div class="col-9 mt-5">
      aa




    </div>
    <div class="col-3 mt-5">
      <%= link_to "#{@prefecture.name}の投稿一覧に戻る", posts_path(prefecture_id: 36), class: "btn btn-success" %>
    </div>
      

  </div>

</div>