<footer class="bg-dark mt-5">
  <div class='container'>
    <div class='row'>
      <div class='mx-auto mt-5'>
        <p class="text-white">CopyRight © 2021 TakuMts. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>